# Notebooks sucks with git #
############################
*.ipynb

# Everything related to training on hcp #
#########################################
*.err
*.out
*.sh
*.png
datasets/
models/
eval_models/


# python stuff
*.pyc
*.cpython-310.pyc
*.cpython-39.pyc
diffusion/__pycache__
*.npy