# Notebooks sucks with git #
############################
*.ipynb

# Everything related to training on hcp #
#########################################
*.err
*.out
*.sh
datasets/
models/


# python stuff
**/*.pyc
diffusion/__pycache__